.expense-div{
    /* border: 2px solid black; */
    width: 100%;
     /* background-color: #222222; */
     background-color: #faf9f4;
     /* background-color: #eeff03; */
}
#expense-proceed{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#inlineFormSelectPref{
    width: fit-content;
}
#expenseAddBtn{
    margin-bottom: 1.5rem;
}
/* .customDropdown-menu{
    width: 60%;
} */
